<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-flex">
    <div class="flex-left">
      <div class="todo-name">
        <div class="label">
          ToDo名
        </div>
        <div class="textarea">
          <%= f.text_field :name, class: "form-text" %>
        </div>
      </div>
      <div class="due-date">
        <div class="label">
          期限
        </div>
        <div class="date-field">
          <%= f.date_field :due_date, class: "form-date" %>
        </div>
      </div>
    </div>

    <div class="flex-right">
      <%= f.submit yield(:button_text), class: "submit-button" %>
    </div>
  </div>
<% end %>